---
---
/* Color Scheme */
$base-color: lighten(#27272F, 6%);
$link-color: lighten(#2E7BD8, 0%);
$highlight-color: #FFB600;
$navbar-light: #541A32;
$navbar-dark: #260C1A;
$text-light: lighten(#eee, 0%);
$text-color: darken(#606c71, 10%);
$h-color: #8D141E;
$header-dark: #643173;
$header-light: #AD343E;
$oc1: $text-light;
/* Outline Color Light */
$oc2: #000;
$oc3: $text-light;
$header-font: 'Croissant One', "Open Sans", "Helvetica Neue";
$h-font: "Maven Pro", "Open Sans", "Helvetica Neue";
$main-font: "Open Sans", "Open Sans", "Helvetica Neue";
$content-width: 140ch;
$mobile-width: 600px;

$dark-border-color: #996d00;
$dark-box-color: rgba(73, 82, 85, 0.2);

/* General */
* {
   backface-visibility: hidden;
   box-sizing: border-box;
}

html {
   height: 100%;
}

body {
   padding: 0;
   margin: 0;
   font-family: $main-font;
   font-size: 14px;
   line-height: 1.5;
   color: $text-color;
   background-color: $base-color;
   background-image: url("/assets/black-linen.png");
   /* This and other patterns by https://www.transparenttextures.com */
   display: flex;
   flex-direction: column;
   height: 100%;
}

body:hover {
   grid-gap: 0;
}

.single {
   display: grid;
   grid-template-columns: 1fr [main] minmax(250px, 85ch) 1fr;
   grid-template-areas: ". main . " ". comment . ";
}

.dual {
  margin: auto;

  display: grid;
  grid-auto-rows: 50ch;
}

.full-width-background {
  width: 100%;
  background: linear-gradient(135deg, hsla(335, 53%, 18%, 1), hsla(335, 53%, 18%, 1));
}

.triple {
  //background: #111;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  max-width: $content-width;
  margin: auto;
  padding: 0 20px;

  text-align: center;
  color: $text-light;

  @media screen and (max-width: $mobile-width) {
    grid-template-columns: 1fr;
  }
}

.modern-row {
  //background: linear-gradient(135deg, hsla(335, 53%, 18%, 1), hsla(335, 53%, 18%, 1));
  background: #111;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: $content-width * 0.75;
  margin: auto;
  //padding: 0 20px;

  @media screen and (max-width: 120ch) {
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: auto auto;
  }
}

.text-cell {
  display: flex;
  align-items: center;
  padding: 20px;
  padding-bottom: 50%;
  color: $text-light;
}

.text-cell-1 {
  @extend .text-cell;
  grid-area: span 1;
}

.text-cell-2 {
  @extend .text-cell;
  grid-area: span 2;
}

.image-cell {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-cell-1 {
  @extend .image-cell;
}

a {
   color: $link-color;
   text-decoration: none;
   transition: color 0.2s;
   position: relative;

   &::after {
      position: absolute;
      content: '';
      display: block;
      background: $highlight-color;
      bottom: 0;
      left: 50%;
      height: 1px;
      width: 0;
      transition: width 0.2s, left 0.2s;
   }
}

a:hover {
   color: $highlight-color;

   &::after {
      width: 100%;
      left: 0;
   }
}

.content-area {
   h2 {
      font-size: 2em;
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      margin-top: 0;
      margin-bottom: 1rem;
      //font-weight: normal;
      color: $h-color;
      font-family: $h-font;
   }

   code {
      padding: 2px 4px;
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
      font-size: 0.9em;
      //color: #567482;
      //background-color: rgba(#f3f6fa, 0.5);
      border-color: $highlight-color;
      border-radius: 0.3rem;
   }

   blockquote {
      background-color: darken($text-light, 4%);
      padding: 0.5rem 1rem;
      margin-left: 0;
      border-left: 0.3rem solid #8D141E;

      p {
         color: lighten($text-color, 3%);
      }

      > :first-child {
         margin-top: 0;
      }

      > :last-child {
         margin-bottom: 0;
      }
   }

   hr {
      color: darken($highlight-color, 20%);
      background-color: darken($highlight-color, 20%);
      height: 1px;
      border: none;
      margin-top: 1em;
      margin-bottom: 1em;
   }
}

.main {
   @extend .content-area;
   grid-column: main;
   @media screen and (max-width: 90ch) {
      grid-column: main;
   }
}

.side {
   @extend .content-area;
   grid-column: side;
   align-self: start;
   @media screen and (max-width: 90ch) {
      grid-column: main;
   }
}

/* Content */
.main-content {
   word-wrap: break-word;
   padding: 0;
}

.centered-content {
   padding: 1rem;
}

.main-content img {
   max-width: 100%;
}


.main-content:after {
   content: "";
   display: table;
   clear: both;
}

.dark-app {
   color: $text-light;
}

.dark-app .post {
   color: $text-color;
}
// OTHER

.side-column .content-navigation {
   display: block;
   margin: 1px;
   border-width: 0 0 1px 0;
   border-style: solid;
}

.side-column .content-navigation:hover {
   border-color: $highlight-color;
}

.side-column a:hover {
   text-decoration: none;
}

.link-buttons {
   width: 100%;
   padding-top: 0.5em;
}

.link-button {
   font-size: 1.25em;
   padding: 0.1em 0.3em;
   border: 2px solid $link-color;
   border-radius: 2px;
   background-color: fade-out($link-color, 0.9);
   margin-right: 0.5em;
   transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.link-button:hover {
   text-decoration: none;
   border-color: $highlight-color;
   background-color: fade-out($highlight-color, 0.9);

   &::after {
      width: 0;
   }
}

.pagination {
   margin: auto;
   grid-area: comment;
}

.comment {
   grid-area: comment;
   align-self: center;
}

.spoiler {
   color: $h-color;
   background-color: $h-color;
   border-radius: 3px;

   &:hover {
      color: $text-color;
      background-color: $text-light;
   }
}
// FOOTER
footer {
  margin-top: 40px;
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 0.7em;
  text-align: center;
  color: #888;
  width: 100%;
  grid-area: footer;

  background-color: hsla(335, 53%, 18%, 1);
}

footer a {
   color: desaturate(lighten($link-color, 10%), 40%);

   &::after {
      background-color: desaturate($highlight-color, 60%);
   }
}

footer a:hover {
   color: desaturate($highlight-color, 60%);
   text-decoration: none;
}

.bimbo-personality-quiz {
   //border: 1px solid darken($highlight-color, 20%);
   min-height: 900px;
   max-width: 1400px;
   margin-top: 20px !important;
   margin-bottom: 20px !important;
}

.patreon-post {
   padding: 0 !important;
   border: 0 !important;

   a {
      margin: 0;
   }
}

.patreon-image-dark {
   border: 1px solid darken($highlight-color, 20%) !important;
}

.patreon-image {
   background: url("../assets/patreon-button.jpg");
   background-size: cover;
   background-position: center top, left top;
   background-repeat: no-repeat;
   width: 100%;
   max-width: 400px;
   height: 280px;
   margin-left: auto;
   margin-right: auto;
   border: 1px solid darken($text-light, 10%);
   border-radius: 3px;
   backface-visibility: hidden;
   transition: transform 0.3s;

   &:hover {
      transform: scale(1.048) translateY(0px) translateX(0px);
   }
}
@import "header";
@import "nav";
@import "posts";
@import "projects";
@import "character_viewer";
@import "slider";
@import "text-game";
@import "bimbo-booth";
