---
---

/* Color Scheme */
$base-color: #27272F;
$highlight-color: #FFB600;
$navbar-light: #541A32;
$navbar-dark: #260C1A;
$text-light: #EEF0F2;
$header-dark: #643173;
$header-light: #AD343E;

$header-font: 'Croissant One', "Open Sans", "Helvetica Neue";
$h-font: "Maven Pro", "Open Sans", "Helvetica Neue";
$main-font: "Open Sans", "Open Sans", "Helvetica Neue";


/* General */
* { box-sizing: border-box; }
body { padding: 0; margin: 0; font-family: $main-font; font-size: 14px; line-height: 1.5; color: #606c71; }
body { background-color: $base-color; }

a { color: #1e6bb8; text-decoration: none; }
a:hover { text-decoration: underline; }

h2 { font-size: 2em; }

/* Header */
.header-front { color: #fff; padding-top: 6rem; padding-bottom: 4rem; text-align: center; background-color: #159957; background-image: linear-gradient(-5deg, $header-light, $header-dark); }
.header-link { color: #fff; }
.header-link div { display: inline-block; font-size: 6rem; }
.header-link:hover { text-decoration: none; }
@media screen and (max-width: 42em) { .header-front { padding-top: 4em; padding-bottom: 2em;} }
@media screen and (max-height: 52em) { .header-front { padding-top: 4em; padding-bottom: 2em;} }
@media screen and (max-height: 42em) { .header-front { padding-top: 2em; padding-bottom: 0.5em;} }
@media screen and (max-width: 24em) { .header-front { padding-top: 2em; padding-bottom: 0.5em;} }

.project-name { margin-top: 0; margin-bottom: 0.1rem; font-family: $header-font; }
@media screen and (min-width: 64em) { .project-name { font-size: 1em; } }
@media screen and (min-width: 24em) and (max-width: 64em) { .project-name { font-size: 0.8em; } }
@media screen and (max-width: 24em) { .project-name { font-size:0.5em; } }
@media screen and (max-width: 16em) { .project-name { font-size: 0.4em; } }
@media screen and (max-width: 13em) { .project-name { font-size: 0.2em; } }

.project-tagline { margin-bottom: 2rem; font-weight: normal; opacity: 0.6; font-family: $h-font; }
@media screen and (min-width: 64em) { .project-tagline { font-size: 0.2em; } }
@media screen and (min-width: 24em) and (max-width: 64em) { .project-tagline { font-size: 0.17em; } }
@media screen and (max-width: 24em) { .project-tagline { font-size: 0.14em; } }
@media screen and (max-width: 16em) { .project-tagline { font-size: 0.14em; } }
@media screen and (max-width: 13em) { .project-tagline { font-size: 0.1em; } }

/* Navigation */
.navbar { background-color: #17281E; background-image: linear-gradient(1deg, $navbar-dark, $navbar-light); height: 4rem; font-size: 1.3em; font-family: $h-font; }
.navbar div { width: 64rem; display: flex; flex: 1; height: 100%; margin: auto;}
@media screen and (max-width: 64rem) { .navbar div { width: 100%; }}
.navbar a { font-size: 1.2em; color: $text-light; border: 0px solid #555; width: 25%; text-decoration: none; font-weight: bold; display: flex; align-items: center; justify-content: center; border-bottom: 4px solid transparent; border-top: 4px solid transparent;}
.navbar a:hover { color: $highlight-color; border-bottom: 4px solid $highlight-color;}
@media screen and (max-width: 24rem) { .navbar { height: 12rem; width: 100%; }}
@media screen and (max-width: 24rem) { .navbar div { display: block; float: left; width: 100%; }}
@media screen and (max-width: 24rem) { .navbar a { height: 3rem; width: 100%; float: left; }}
@media screen and (max-width: 24rem) { .navbar a:hover { border-left: 4px solid $highlight-color; border-right: 4px solid $highlight-color; border-bottom: 4px none transparent; border-top: 4px none transparent;}}

/* Content */
.main-content { word-wrap: break-word; padding: 0rem; }
@media screen and (min-width: 60rem) { .main-content { max-width: 60rem; padding-top: 2.5rem; margin: 0 auto; font-size: 1.0em; } }
@media screen and (min-width: 42rem) and (max-width: 60rem) { .main-content { padding-top: 2.5em; font-size: 1.0em; } }
@media screen and (max-width: 42rem) { .main-content { padding-top: 2.5rem; font-size: 1em; } }
@media screen and (max-width: 24rem) { .main-content { padding: 0rem 0rem; font-size: 0.9em; } }
.main-content img { max-width: 100%; }
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 { margin-top: 0rem; margin-bottom: 1rem; font-weight: normal; color: #8D141E; font-family: $h-font; }
.main-content p { margin-bottom: 1em; font-size: 1.2em; }
.main-content code { padding: 2px 4px; font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; font-size: 0.9em; color: #567482; background-color: #f3f6fa; border-radius: 0.3rem; }
.main-content pre { padding: 0.8rem; margin-top: 0; margin-bottom: 1rem; font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace; color: #567482; word-wrap: normal; background-color: #f3f6fa; border: solid 1px #dce6f0; border-radius: 0.3rem; }
.main-content pre > code { padding: 0; margin: 0; font-size: 0.9em; color: #567482; word-break: normal; white-space: pre; background: transparent; border: 0; }
.main-content .highlight { margin-bottom: 1rem; }
.main-content .highlight pre { margin-bottom: 0; word-break: normal; }
.main-content .highlight pre, .main-content pre { padding: 0.8rem; overflow: auto; font-size: 0.9em; line-height: 1.45; border-radius: 0.3rem; -webkit-overflow-scrolling: touch; }
.main-content pre code, .main-content pre tt { display: inline; max-width: initial; padding: 0; margin: 0; overflow: initial; line-height: inherit; word-wrap: normal; background-color: transparent; border: 0; }
.main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after { content: normal; }
.main-content ul, .main-content ol { margin-top: 0; }
.main-content blockquote { padding: 0 1rem; margin-left: 0; color: #819198; border-left: 0.3rem solid #dce6f0; }
.main-content blockquote > :first-child { margin-top: 0; }
.main-content blockquote > :last-child { margin-bottom: 0; }

/* Posts */
.post { background-color: $text-light; border-radius: 0.2em; padding: 1.5em; padding-bottom: 2em; width: 90%; margin: auto; margin-bottom: 2rem; overflow: hidden; }
.post .tags { display: inline-block; width: 100%; padding: 0rem; margin: 0rem; }
.post .tags p { font-size: 0.9em; margin-top: auto; margin-right: 0.3rem; padding: 0rem 0.3rem; border: 3px double $highlight-color; float: left;}
.post .signature { font-family: $main-font; font-style: italic; font-size: 1.2em; text-align: right; padding-right: 3rem; margin-bottom: -1rem; }
@media screen and (max-width: 16rem) { .post .signature { padding-right: 0rem; } }
@media screen and (max-width: 24rem) { .post { width: 100%; } }

.post h1, .post h2 { margin-bottom: 0rem; font-weight: bold; }
.post h1 > a, .post h2 > a { color: inherit; text-decoration: none; }
.post a:hover { color: $highlight-color; }
.post > p { margin-top: 0rem; }
.post .infotitle { font-size: 1em; margin-top: -0.2em; margin-bottom: 0.4em; }
.post .meta { margin-top: 0.2em; font-size: 1.1em; }

.link-button { border: 1px solid black; }
.link-button h3 { margin: 1rem; font-weight: bold; }
.link-button a { font-weight: normal; margin: 1rem; }
.link-button td { border: 0px; }
/*.link-button { width: 100%; }*/
.link-row:nth-child(odd) { background-color: #DEE0E2; }
.link-row:nth-child(even) { background-color: #CED0D2; }

footer { padding-top: 3em; padding-bottom: 3em; font-size: 0.6em; height:2em; text-align:center; display:flex; justify-content:center; align-items:center; color: #888; }



@import "character_viewer";

@import "slider";
