.main-content {
  min-width: 1280px;
  padding-left: 0px;
  padding-right: 0px;
  box-sizing: content-box;
  margin-bottom: 3.3rem;
}

.player embed{
  border: solid 1px black;
}

body {
  /*background-color: #053604;*/
  /*background-image: url("../tableBackground.png");*/
}
