.play-content {
  min-width: 100%;
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 1rem;
  text-align: center;
}

.flash-player {
  margin: auto;
  width: 700px;
  height: 500px;
}

.flash-player embed {
  border: solid 1px black;
}

body {
  /*min-width: 1280px;*/
  /*background-color: #053604;*/
  /*background-image: url("../tableBackground.png");*/
}
