---
title: Bimbofication Booth
permalink: /bimbo-booth/
thumb: /projects/bimbo-booth/thumb.jpg
tags: [iq, breast expansion, gender transformation]
comments: true
layout: page
description: "Like transformation sequences?


In the bimbofication booth you can watch a variety of characters transforming into cute, cotton-candy-brained bimbos!"
---

<div id="app" class="app">
   <input type="checkbox" class="menu-toggle" id="menu-toggle" checked> </input>
   <label id="menu-togge-label" for="menu-toggle" class="menu-toggle pink-button">
      <img src="/assets/hamburger.svg" alt="" class="svg-2">
   </label>
   <div id="buffer" class="sequence-view"></div>
   <div id="sequence-view" class="sequence-view"></div>
   <div class="control-panel">
      <button class="pink-button" onclick="gotoFrame(0)">
         <img src="/assets/toStart.svg" alt="" class="svg-2">
      </button>
      <button class="pink-button" id="playpause" onclick="playpause()">
         <img src="/assets/play.svg" alt="" class="svg-2">
      </button>
      <button class="pink-button" id="" onclick="" disabled>
         <img src="" alt="" class="svg-2">
      </button>
      <button class="pink-button" onclick="prev()">
         <img src="/assets/back.svg" alt="" class="svg-2">
      </button>
      <button class="pink-button" onclick="next()">
         <img src="/assets/next.svg" alt="" class="svg-2">
      </button>
      <button class="pink-button" onclick="toggleFullscreen()">
         <img src="/assets/fullscreen.svg" alt="" class="svg-2">
      </button>
   </div>
   <div id="character-info" class="dark-post post">
      <h1> Target Status </h1>
      <hr>
      <h3><b>Name:</b> <span id="nameF"></span> </h3>
      <h3><b>IQ:</b> <span id="iqF"></span> </h3>
      <h3><b>Occupation:</b> <span id="jobF"></span> </h3>
      <h3><b>Status:</b> <span id="statusF"></span> </h3>
   </div>
   <div id="character-select" class="characters">
      {% for c in site.data.characters %}
      {% capture url %}
      /projects/bimbo-booth/{{ c.name }}/00.png
      {% endcapture %}
      {% include card-small.html url=url thumb=url title=c.name class="small-card"%}
      {% endfor %}
   </div>
</div>

<div class="dual">
   <div class="main">
      <section class="main post dark-post">
         <h2>Bimbofication Booth</h2>
         <p>Contains sexual content with focus on <b>Bimbofication</b>. This includes <b>Breast Expansion</b>, <b>TF/TG</b> and <b>TF/Ment</b>. </p>

         <p>I have always enjoyed transformation sequences, but I've never really been a fan of looking at huge spritesheets. Comics can be alright, but even there it can be annoying to scroll around the page. That's why I've made this webapp to allow for watching bimbofication in comfort.</p>

         <p> Here you'll find a collection of characters, many that I have previously posted on DeviantArt, but also entirely new characters! </p>
      </section>
      <section class="post dark-post">
         <h2>NEW CHARACTER </h2>
         <h3>William</h3>
         <p>
            William was always too cool to care for anyone but himself. His charm and wit allowed him to always get away with things nobody else could, usually at the cost of somebody else. This was until his friends decided that they'd all be better of if William was a little more considerate.
         </p>
         <p>
            They all chipped in for the Bimnocorp <i>Affectionate Missy</i> ™ treatment and invited William to an underground "party". William, always eager to drink and eat for free, was not discouraged by the odd laboratory-like location and didn't realize what was going on until he was bound and injected with a serum.
         </p>
         <p>
            A few hours later, out walked Vidette, the sweetest and kindest girl you would have ever met. While naive and a little empty-headed, her friends were now more than happy to have her around. And she was happy too, as long as she had someone to snuggle up to.
         </p>
      </section>
   </div>
   <div class="side">
      <section class="post dark-post">
         <h2> Hotkeys </h2>
         <p>
            <b> R </b> - Reset, go to first frame <br>
            <b> P </b> - Play / Pause <br>
            <b> B </b> - Back, go to previous frame <br>
            <b> N </b> - Next, go to next frame
         </p>
         <p>
            <b> A </b> - Select previous character <br>
            <b> D </b> - Select next character
         </p>
         <p>
            <b> F </b> - Fullscreen toggle <br>
            <b> C </b> - Character select toggle
         </p>
         <p> Some YouTube-like hotkeys also available, not listed.</p>
      </section>
      <section class="main post dark-post">
         <h2> Improvements </h2>
         <p> While the app has been working well for me, there are plenty of devices and browser I can't test extensively on my own. So let me know if you encounter any bugs or if something is performing poorly, but be sure to tell me what device/browser you are using! </p>
         <p> I hope to improve on the bimbofication booth, although I make no promises! However, if you have a good idea for a feature you'd want, feel free to tell me in the comments! </p>
      </section>
   </div>
</div>

<script src="/scripts/bimbo-booth.js"></script>