---
title: Bimbofication Booth
permalink: /bimbo-booth/
redirect_from:
- /character-viewer/
thumb: /projects/bimbo-booth/thumb.jpg
tags: [iq, breast expansion, gender transformation]
comments: true
layout: page
description: "Like transformations sequences?


In the bimbofication booth you can watch a variety of characters transforming into cute, cotton-candy-brained bimbos!"
---

<div id="app" class="app">
   <input type="checkbox" class="menu-toggle" id="menu-toggle" checked> </input>
   <label id="menu-togge-label" for="menu-toggle" class="menu-toggle pink-button">
      <img src="/assets/hamburger.svg" alt="" class="svg-2">
   </label>
   <div id="buffer" class="sequence-view"></div>
   <div id="sequence-view" class="sequence-view"></div>
   <div class="control-panel">
      <button class="pink-button" onclick="gotoFrame(0)">
         <img src="/assets/toStart.svg" alt="" class="svg-2">
      </button>
      <button class="pink-button" id="playpause" onclick="playpause()">
         <img src="/assets/play.svg" alt="" class="svg-2">
      </button>
      <button class="pink-button" id="" onclick="" disabled>
         <img src="" alt="" class="svg-2">
      </button>
      <button class="pink-button" onclick="prev()">
         <img src="/assets/back.svg" alt="" class="svg-2">
      </button>
      <button class="pink-button" onclick="next()">
         <img src="/assets/next.svg" alt="" class="svg-2">
      </button>
      <button class="pink-button" onclick="toggleFullscreen()">
         <img src="/assets/fullscreen.svg" alt="" class="svg-2">
      </button>
   </div>
   <div id="character-info" class="dark-post post">
      <h1> Target Status </h1>
      <h4 id="artistL"> <b>Artist:</b> <span id="artistF"> </span> </h4>
      <hr>
      <h3><b>Name:</b> <span id="nameF"></span> </h3>
      <h3><b>IQ:</b> <span id="iqF"></span> </h3>
      <h3 id="jobL"><b>Occupation:</b> <span id="jobF"></span> </h3>
      <h3 id="statusL"><b>Status:</b> <span id="statusF"></span> </h3>
   </div>
   <div id="character-select" class="characters">
      {% for c in site.data.characters %}
      {% capture url %}
      /projects/bimbo-booth/{{ c.name }}/thumb.png
      {% endcapture %}
      {% include card-small.html url=url thumb=url title=c.name class="small-card"%}
      {% endfor %}
   </div>
</div>

<div class="dual">
   <div class="main">
      <section class="main post dark-post">
         <h2>Bimbofication Booth</h2>
         <p>Contains sexual content with focus on <b>Bimbofication</b>. This includes <b>Breast Expansion</b>, <b>TF/TG</b> and <b>TF/Ment</b>. </p>

         <p>I have always enjoyed transformation sequences, but I've never really been a fan of looking at huge spritesheets. Comics can be alright, but even there it can be annoying to scroll around the page. That's why I've made this webapp to allow for watching bimbofication in comfort.</p>

         <p> Here you'll find a collection of characters, many that I have previously posted on DeviantArt, but also entirely new characters! Who is your favorite? </p>
      </section>
      <section class="post dark-post">
         <h2>NEWEST CHARACTER </h2>
         <h3>Kimberleigh, Wanda and Cody</h3>
         <p>
            It's holiday season, and Kimberleigh is out for a winter walk with her son Cody, and soon to be daughter-in-law, Wanda. To surprise them, Kimberleigh has brought some fancy mints. What she doesn't realize is that what she has bought is a Bimnocorp product, Holiday Cheer Mints™.
         </p>
         <p>
            It will be a surprise for sure, and a very cheery holiday for the three of them.
         </p>
         <br>
         <hr>
         <p> This holiday themed sequence was created and submitted by <a href="https://www.youtube.com/channel/UC_Cn3RZ3IDgkFBye-5Ejgvw">CraftTG</a>. Many thanks! </p>
      </section>
   </div>
   <div class="side">
      <section class="post dark-post">
         <h2> Hotkeys </h2>
         <p>
            <b> R </b> - Reset, go to first frame <br>
            <b> P </b> - Play / Pause <br>
            <b> B </b> - Back, go to previous frame <br>
            <b> N </b> - Next, go to next frame
         </p>
         <p>
            <b> A </b> - Select previous character <br>
            <b> D </b> - Select next character
         </p>
         <p>
            <b> F </b> - Fullscreen toggle <br>
            <b> C </b> - Character select toggle
         </p>
         <p> Some YouTube-like hotkeys also available, not listed.</p>
      </section>
      <section class="main post dark-post">
         <h2> Improvements </h2>
         <p> While the app has been working well for me, there are plenty of devices and browser I can't test extensively on my own. So let me know if you encounter any bugs or if something is performing poorly, but be sure to tell me what device/browser you are using! </p>
         <p> I hope to improve on the bimbofication booth, although I make no promises! However, if you have a good idea for a feature you'd want, feel free to tell me in the comments! </p>
         <p> If you want to submit a character of your own, checkout the <a href="/character-submission/"> character submission instructions</a>.</p>
      </section>
   </div>
</div>

<script src="/scripts/bimbo-booth.js"></script>