---
title: Sequence Viewer
permalink: /sequence-viewer/
thumb: /projects/sequence-viewer/thumb.jpg
tags: [iq, breast expansion, gender transformation]
comments: false
layout: page
description: "Easily view character transformation sequences on the web on any device.


Watch any number of characters transform into cute bimbos with minds that are nothing but pink cotton-candy!"
---

<div id="app" class="app">
   <input type="checkbox" class="menu-toggle" id="menu-toggle" checked> </input>
   <label id="menu-togge-label" for="menu-toggle" class="menu-toggle pink-button">
      ...
   </label>
   <div id="buffer" class="sequence-view"></div>
   <div id="sequence-view" class="sequence-view"></div>
   <div class="control-panel">
      <button class="pink-button" onclick="gotoFrame(1)">
         <u>R</u>eset
      </button>
      <button class="pink-button" id="playpause" onclick="playpause()">
         <u>P</u>lay
      </button>
      <button class="pink-button" onclick="prev()">
         <u>B</u>ack
      </button>
      <button class="pink-button" onclick="next()">
         <u>N</u>ext
      </button>
      <button class="pink-button" onclick="toggleFullscreen()">
         <img src="/assets/fullscreen.svg" alt="" class="svg-2">
      </button>
   </div>
   <div id="character-select" class="characters">
      {% for c in site.data.characters %}
      {% capture url %}
      /projects/sequence-viewer/{{ c.name }}/01.png
      {% endcapture %}
      {% include card-small.html url=url thumb=url title=c.name class="small-card"%}
      {% endfor %}
   </div>
</div>

<div class="dual">
   <div class="main">
      <section class="main post dark-post">
         <h2>Sequence Viewer</h2>
         <p>Contains sexual content with focus on <b>Bimbofication</b>. This includes <b>Breast Expansion</b>, <b>TF/TG</b> and <b>TF/Ment</b>. </p>

         <p>I have always enjoyed transformation sequences, but was never really a fan of looking at huge spritesheets. This webapp allows you to comfortably enjoy watching sequences.</p>

         <p> Here you'll find a collection of characters, many that I have previously posted on DeviantArt, but also entirely new characters! </p>
      </section>
   </div>
   <div class="side">
      <section class="post dark-post">
         <h2>NEW CHARACTER - William</h2>
         <p>
            William was always too cool to care for anyone but himself. His charm and wit allowed him to always get away with things nobody else could, usually at the cost of somebody else. This was until his friends decided that they'd all be better of if William was a little more considerate.
         </p>
         <p>
            They all chipped in for the Bimnocorp <i>Affectionate Missy</i> ™ treatment and invited William to an underground "party". William, always eager to drink and eat for free, was not discouraged by the odd laboratory-like location and didn't realize what was going on until he was bound and injected with a serum.
         </p>
         <p>
            A few hours later, out walked Vidette, the sweetest and kindest girl you would have ever met. While naive and a little empty-headed, her friends were now more than happy to have her around. And she was happy too, as long as she had someone to snuggle up to.
         </p>
      </section>
   </div>
</div>

<script src="/scripts/sequence-viewer.js"></script>