<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111756944-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111756944-1');
  </script>

  <meta charset="UTF-8">

  <title>{{ site.title }}</title>
  <meta name="description" content="NSFW games with a focus on transformation">
  <meta name="keywords" content="blushing, defeat, blushingdefeat, bimbo, transformation, bimbofication, breast expansion, BE, adult, game, games, gardamuse, blog">
  <meta name="author" content="Gardamuse">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

  <link href="https://fonts.googleapis.com/css?family=Croissant+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Maven+Pro:500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <link rel='shortcut icon' type='image/png' href='/assets/BD-300px.png' />
</head>
