<head>
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111756944-1"></script>
   <script>
      window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111756944-1');
  </script>

   {% assign description = {{site.description}} %}
   {% if page.description %}
   {% assign description = {{page.description | markdownify | strip_html }} %}
   {% endif %}

   {% assign keywords = "blushing defeat, erotic games" %}
   {% capture keywords %}{{ keywords }}{% endcapture %}

   {% if page.tags %}
   {% capture keywords %}{{ keywords }}{% for tag in page.tags %}, {{ tag }}{% endfor %}{% endcapture %}
   {% else %}
   {% capture keywords %}{{ keywords }}, bimbo transformation games, bimbofication games, breast expansion games, gardamuse blog{% endcapture %}
   {% endif %}

   {% if paginator %}
   {% capture title %}{{ page.title }} - Page {{ paginator.page }}{% endcapture %}
   {% else %}
   {% assign title = page.title %}
   {% endif %}

   <!-- Meta data -->
   <meta charset="UTF-8">
   <title>{{ title }}</title>
   <meta name="description" content="{{ description }}">
   <meta name="keywords" content="{{ keywords }}">
   <meta name="author" content="Gardamuse">
   <meta name="theme-color" content="#541A32">

   <!-- SEO meta data -->
   <meta property="og:title" content="{{ title }}" />
   <meta property="og:type" content="webpage" />
   <meta property="og:description" content="{{ description }}">
   {% if page.thumb %}
   <meta property="og:image" content="{{ page.thumb }}" />
   {% else %}
   <meta property="og:image" content="/assets/BD.png" />
   {% endif %}
   <meta property="og:url" content="{{ site.author.url }}{{ page.url }}" />
   <link rel="canonical" href="{{ site.author.url }}{{ page.url }}" />
   <meta itemprop="keywords" content="{{ keywords }}" />

   <!-- Fonts -->
   <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
   <link href="https://fonts.googleapis.com/css?family=Croissant+One" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Maven+Pro:500" rel="stylesheet">

   <!-- Stylesheets -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
   <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
   <link rel='shortcut icon' type='image/png' href='/assets/BD-300px.png' />

   <!-- Font Awesome -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

   <!-- Cookie Consent -->
   <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
   <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
   <script>
      window.addEventListener("load", function() {
         window.cookieconsent.initialise({
            "palette": {
               "popup": {
                  "background": "#260C1A",
                  "text": "#eef0f2"
               },
               "button": {
                  "background": "#ad343e",
                  "text": "#eef0f2"
               }
            },
            "theme": "edgeless",
            "position": "bottom",
            "content": {
               "message": "This website uses cookies to enable Google Analytics and Disqus, the comment plugin.",
               "dismiss": "Got it!",
               "link": "Learn more.",
               "href": "{{ site.baseurl }}/privacypolicy"
            }
         })
      });
   </script>
</head>