 {% assign description = {{site.description}} %}
 {% if page.description %}
 {% assign description = {{page.description | markdownify | strip_html }} %}
 {% endif %}

 {% assign keywords = "blushing defeat, erotic games" %}
 {% capture keywords %}{{ keywords }}{% endcapture %}

 {% if page.tags %}
 {% capture keywords %}{{ keywords }}{% for tag in page.tags %}, {{ tag }}{% endfor %}{% endcapture %}
 {% else %}
 {% capture keywords %}{{ keywords }}, bimbo transformation games, bimbofication games, breast expansion games, gardamuse blog{% endcapture %}
 {% endif %}

 {% if paginator %}
 {% capture title %}{{ page.title }} - Page {{ paginator.page }}{% endcapture %}
 {% else %}
 {% assign title = page.title %}
 {% endif %}

 <!-- Meta data -->
 <meta charset="UTF-8">
 <title>{{ title }}</title>
 <meta name="description" content="{{ description }}">
 <meta name="keywords" content="{{ keywords }}">
 <meta name="author" content="Gardamuse">
 <meta name="theme-color" content="#541A32">

 <!-- SEO meta data -->
 <meta property="og:title" content="{{ title }}" />
 <meta property="og:type" content="webpage" />
 <meta property="og:description" content="{{ description }}">
 {% if page.thumb %}
 <meta property="og:image" content="{{ site.url }}{{ page.thumb }}" />
 {% else %}
 <meta property="og:image" content="{{ site.url }}/assets/BD.png" />
 {% endif %}
 <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
 <link rel="canonical" href="{{ site.author.url }}{{ page.url }}" />
 <meta itemprop="keywords" content="{{ keywords }}" />

 <!-- Cookie Consent -->
 <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
 <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
 <script>
    window.addEventListener("load", function() {
       window.cookieconsent.initialise({
          "palette": {
             "popup": {
                "background": "#260C1A",
                "text": "#eef0f2"
             },
             "button": {
                "background": "#ad343e",
                "text": "#eef0f2"
             }
          },
          "theme": "edgeless",
          "position": "bottom",
          "content": {
             "message": "This website uses cookies to enable Google Analytics and Disqus, the comment plugin.",
             "dismiss": "Got it!",
             "link": "Learn more.",
             "href": "{{ site.baseurl }}/privacypolicy"
          }
       })
    });
 </script>
