$buttons: 6;
$rows: 2;
$cols: 3;
$rowsHeight: $rows * 4rem;

.app {
   display: grid;
   grid-template-columns: 1fr 2fr 1fr 1fr;
   grid-template-rows: 500px 60px 200px;
   grid-template-areas:
      ". main info ."
      ". control control ."
      ". select select .";
   background-color: $base-color;
   background-image: url("/assets/black-linen.png");

   // Firefox
   scrollbar-color: $navbar-light darken($navbar-light, 10%);

   // Everyone else
   ::-webkit-scrollbar {
      background: darken($navbar-light, 10%);
   }

   ::-webkit-scrollbar-corner {
      background: darken($navbar-light, 10%);
   }

   ::-webkit-scrollbar-thumb {
      background: $navbar-light;
   }

   @media screen and (max-width: 1000px) {
      grid-template-columns: 2fr;
      grid-template-rows: calc(100vh - 4rem - 150px) 4rem 200px;
      grid-template-areas:
         "main"
         "control"
         "select";

      #character-info {
         display: none;
      }
   }

   @media screen and (max-width: 650px) {
      grid-template-columns: 2fr;
      grid-template-rows: calc(100vh - #{$rowsHeight} - 150px) $rowsHeight 200px;
      grid-template-areas:
         "main"
         "control"
         "select";

      #character-info {
         display: none;
      }
   }

}

#buffer {
   background-color: rgba(#844, 0.0);
}

.sequence-view {
   grid-area: main;
   //height: 100%;
   width: 100%;
   //background-image: url("/projects/sequence-viewer/rebecca/01.png");
   background-color: rgba(#999, 0);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;

   //transition: opacity 1s;
}

.characters {
   grid-area: select;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   grid-auto-rows: 200px;
   justify-content: center;
   background-color: $navbar-dark;

   overflow-y: scroll;
}

.character-wrapper {
   min-height: min-content;
   display: grid;
   grid-template-columns: repeat(auto-fit, 100px);
}

.character {
   background-color: #400;
   border: 1px solid black;
   img {
      max-height: 100%;
   }
}

.menu-toggle {
   display: block;
}

#artistL {
   opacity: 80%;
}

.fullscreen {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1;

   grid-template-columns: minmax(180px, 400px) 50vw minmax(200px, 50vw);
   grid-template-rows: calc(100vh - 4rem) 4rem;
   grid-template-areas:
      "select main info"
      "control control control";

   .characters {
      //position: absolute;
      transition: transform 0.5s;
   }

   .character-wrapper {
      flex-direction: column;
   }

   .card-small {
      //height: 200px;
   }

   #character-info {
      h3 {
         font-size: 1.4em;
      }
   }

   @media screen and (max-width: 1920px) {
      grid-template-columns: 0px 1fr minmax(200px, 25vw);
      grid-template-areas:
         "select main info"
         "control control control";

      .menu-toggle:checked ~ .characters {
         //display: none;
         transform: translateX(-100%);
      }

      .characters {
         position: fixed;
         height: calc(100vh - 4rem);
         grid-template-columns: repeat(2, minmax(200px, 1fr));
      }

      #menu-togge-label {
         display: block;
      }
   }

   @media screen and (max-width: 1200px) {
      grid-template-columns: 0px 1fr;
      grid-template-areas:
         "select main"
         "control control";

      .characters {
         grid-template-columns: repeat(1, minmax(200px, 1fr));
      }

      #character-info {
         position: fixed;
         right: 0;
         display: none;
         height: calc(100vh - 4rem);
         grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }

   }

   @media screen and (max-width: 700px) {
      grid-template-columns: 0px 1fr;
      grid-template-rows: calc(100vh - 4rem) 4rem;
   }

   @media screen and (max-width: 650px) {
      grid-template-rows: calc(100vh - #{$rowsHeight}) $rowsHeight;

      .characters {
         height: calc(100vh - #{$rowsHeight});
      }
   }
}

.control-panel {
   grid-area: control;
   display: grid;
   grid-template-columns: repeat($buttons, 1fr);
   grid-template-rows: 1fr;

   //background-color: #800;

   @media screen and (max-width: 650px) {
      grid-template-columns: repeat($cols, 1fr);
      grid-template-rows: repeat($rows, 1fr);
   }
}

#character-info {
   grid-area: info;
   h3 {
      font-size: 1.2em;
   }
}

.menu-toggle {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 11;
   display: none;

   label {
      background-color: #f00;
   }
}

#menu-togge-label {
   display: none;
   padding: 0.4em;
}

.svg-2 {
   display: block;
   height: 1em;
   margin: auto;
   /*https://codepen.io/sosuke/pen/Pjoqqp*/
   filter: invert(24%) sepia(36%) saturate(3264%) hue-rotate(307deg) brightness(89%) contrast(84%);
}
