/* Header */
.header-front {
   background-image: linear-gradient(-5deg, $header-light, $header-dark);
   background-image: url("../assets/transformations.png"), url("/assets/arabesque.png");
   background-position: center top, left top;
   background-size: auto 120%, auto 120%;
   background-repeat: no-repeat, repeat;

   color: #fff;
   padding-top: 6vw;
   padding-bottom: 6vw;
   text-align: center;
   background-color: $navbar-dark;

   grid-area: header;

   @media screen and (max-width: 400px) {

   }
   @media screen and (min-width: 64em) {
      padding-top: 6em;
      padding-bottom: 6em;
   }
}

.header-front h1 {
   text-shadow: 1px 1px $oc1, -1px 1px $oc1, -1px -1px $oc1, 1px -1px $oc1, 2px 2px $oc2, -2px 2px $oc2, -2px -2px $oc2, 2px -2px $oc2;
}
/* Text outline */
.header-front h2 {
   text-shadow: 1px 1px $oc2, -1px 1px $oc2, -1px -1px $oc2, 1px -1px $oc2;
}
/* Text outline */
.header-link {
   color: #fff;
}

.header-link div {
   display: inline-block;
   font-size: 6rem;
}

.header-link:hover {
   text-decoration: none;
   &::after {
      width: 0;
   }
}

//.header-link:hover::after {
//   width: 0;
//}
//@media screen and (max-width: 64em) {
//   .header-front {
//      padding-top: 4em;
//      padding-bottom: 4em;
//   }
//}
/**@media screen and (max-height: 52em) { .header-front { padding-top: 4em; padding-bottom: 4em;} }
@media screen and (max-height: 42em) { .header-front { padding-top: 2em; padding-bottom: 2.5em;} }**/
//@media screen and (max-width: 42em) {
//   .header-front {
//      padding-top: 2em;
//      padding-bottom: 2.5em;
//   }
//}
//@media screen and (max-width: 24em) {
//   .header-front {
//      padding-top: 1em;
//      padding-bottom: 1em;
//   }
//}

.project-name {
   margin-top: 0;
   margin-bottom: 0.1rem;
   font-family: $header-font;
   color: $header-light;
   font-size: 7vw;
   @media screen and (max-width: 400px) {
      font-size: 0.25em;
   }
   @media screen and (min-width: 64em) {
      font-size: 0.8em;
   }

}

.project-tagline {
   margin-top: 0;
   margin-bottom: 0;
   font-weight: bold;
   opacity: 0.8;
   font-family: $h-font;
   color: lighten($header-light, 10%);
   font-size: 2.4vw;
   //font-size: 1em;
   @media screen and (max-width: 400px) {
      font-size: 0.11em;
   }
   @media screen and (min-width: 64em) {
      font-size: 0.24em;
   }

}
//@media screen and (min-width: 64em) {
//   .project-tagline {
//      font-size: 0.22em;
//   }
//}
//@media screen and (min-width: 42em) and (max-width: 64em) {
//   .project-tagline {
//      font-size: 0.19em;
//   }
//}
//@media screen and (max-width: 42em) {
//   .project-tagline {
//      font-size: 0.17em;
//   }
//}
//@media screen and (max-width: 24em) {
//   .project-tagline {
//      font-size: 0.13em;
//   }
//}
//@media screen and (max-width: 16em) {
//   .project-tagline {
//      font-size: 0.11em;
//   }
//}
