/* Header */
.header-front {
   //background-image: linear-gradient(-5deg, $header-light, $header-dark);
   background-image: url("../assets/ox-banner.webp"), url("/assets/arabesque.png");
   background-position: top center, left top;
   background-size: 100%, 100% auto;
   background-repeat: no-repeat, repeat;
   background-attachment: fixed;

   color: #fff;
   background-color: lighten($navbar-dark, 1%);

   grid-area: header;
   min-height: 35vw;
   margin-bottom: 40px;

   display: grid;
   grid-template-columns: auto [main] 120ch auto;

}

.header-front h1 {
   text-shadow: 1px 1px $oc1, -1px 1px $oc1, -1px -1px $oc1, 1px -1px $oc1, 2px 2px $oc2, -2px 2px $oc2, -2px -2px $oc2, 2px -2px $oc2;
}
/* Text outline */
.header-front h2 {
   text-shadow: 1px 1px $oc2, -1px 1px $oc2, -1px -1px $oc2, 1px -1px $oc2;
}

.header-text {
  grid-area: main;
  align-self: end;
  margin: 40px 20px;
}

.project-name {
  font-family: $header-font;
  color: $header-light;
  font-size: clamp(16px, 5vw, 72px);
  margin: 0;
}

.project-tagline {
   font-weight: bold;
   opacity: 0.8;
   font-family: $h-font;
   color: lighten($header-light, 10%);
   font-size: clamp(10px, 2vw, 24px);
   margin: 0;
}
