/* Navigation */
$navbar-items: 3;
/* How many items are in the navbar */
.navbar {
   background-color: #17281E;
   background-image: linear-gradient(1deg, $navbar-dark, $navbar-light);
   font-size: 1.3em;
   font-family: $h-font;

   grid-area: navbar;
   display: grid;
   grid-template-columns: repeat(3, minmax(100px, 300px));
   grid-template-rows: 3.2em;
   justify-content: center;
   //grid-gap: 2px;

   @media screen and (max-width: $mobile-width) {
      grid-template-columns: 1fr;
      grid-template-rows: 75px 75px 75px;
   }
}

.navbar a {
   font-size: 1.2em;
   color: $text-light;
   text-decoration: none;
   font-weight: bold;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   //border-bottom: 4px solid transparent;
   //border-top: 4px solid transparent;
   position: relative;

   //backface-visibility: hidden;
   transition: color 0.3s;

   &::after {
      position: absolute;
      content: '';
      display: block;
      background: $highlight-color;
      bottom: 0;
      left: 50%;
      height: 4px;
      width: 0%;

      transition: width 0.3s, height 0.3s, left 0.3s, top 0.3s;
   }
}

.navbar a:hover {
   color: $highlight-color;
   //border-bottom: 4px solid $highlight-color;
   &::after{
      width: 100%;
      left: 0;
   }
}


//@media screen and (max-width: 24rem) {
//   .navbar {
//      height: 12rem;
//      width: 100%;
//   }
//}
//@media screen and (max-width: 24rem) {
//   .navbar div {
//      display: block;
//      float: left;
//      width: 100%;
//   }
//}
//@media screen and (max-width: 24rem) {
//   .navbar a {
//      height: (12rem / $navbar-items);
//      width: 100%;
//      float: left;
//   }
//}
//@media screen and (max-width: 24rem) {
//   .navbar a:hover {
//      border-left: 4px solid $highlight-color;
//      border-right: 4px solid $highlight-color;
//      border-bottom: 4px none transparent;
//      border-top: 4px none transparent;
//   }
//}
