.all-projects {
   margin: auto;
   padding: 2em;
   max-width: 240ch;
}

.project-board {
   //margin: auto;
   //margin-top: 2em;
   display: grid;
   grid-gap: 2em;
   pointer-events: none;

   grid-template-columns: repeat(auto-fit, minmax(360px, 360px));
   grid-auto-rows: minmax(260px, 500px);
   justify-content: center;
   //align-content: c;

   //@media screen and (max-width: 1200px) {
   //   grid-template-columns: repeat(2, 1fr);
   //}
   //@media screen and (max-width: 600px) {
   //   grid-template-columns: repeat(1, 1fr);
   //}
   //@media screen and (max-width: $mobile-width) {
   //   grid-template-columns: repeat(1, 1fr);
   //}
}

$project-padding: 14px;
.project-card {
   background: $text-light;
   display: grid;
   position: relative;
   border: 2px solid #111;
   border-radius: 3px;
   color: $text-color;
   //max-width: 400px;
   //max-height: 400px;
   overflow: hidden;
   //z-index: 0;
   //opacity: 1;

   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: repeat(12, 1fr);

   backface-visibility: hidden;
   transition: transform 0.4s, opacity 0.4s, border 0.4s;
   pointer-events: auto;
   z-index: -1;
}

.thumb-container {
   position: absolute;
   //width: 100%;
   height: 100%;
   //display: flex;
   //align-items: flex-start;
   //flex-direction: column;
   //background-color: lighten($base-color, 10%);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));

   grid-row: 1 / 7;
   grid-column: 1 / -1;
}

.project-card .thumb {
   width: 100%;
   height: 100%;
   margin-left: auto;
   margin-right: auto;
   background: lighten($base-color, 10%);
   position: relative;
   z-index: 3;
   display: block;
   object-fit: cover;
   object-position: top left;
}

.project-card .project-info {
   //position: absolute;
   //top: 70%;
   //bottom: 0;
   //left: 0;
   background: $text-light;
   width: 100%;
   border-top: 1px solid black;
   grid-column: 1 / -1;
   grid-row: 7 / -2;
   overflow: hidden;

   transition: top 1s;
}

.project-card .title {
   //grid-column: 6 / -1;
   //grid-row: 1;
   //position: absolute;
   //bottom: 51%;
   grid-column: 1 / -1;
   grid-row: 6 / 7;
   padding-left: $project-padding;
   //background-color: inherit;
   z-index: 1;

   h2 {
      margin: 0;
      color: lighten($text-light, 5%);
      font-weight: bold;
      text-shadow: 1px  1px #111,
                  -1px  1px #111,
                  -1px -1px #111,
                   1px -1px #111;
      //-webkit-text-stroke: 1px $text-light;
   }
}

$tag-color: #ff88dd;
.project-card .tags {
   margin: 0;
   padding-left: $project-padding;
   padding-right: $project-padding;
   grid-column: 1 / -1;
   grid-row: -2 / -1;
   align-self: center;

   li {
      float: left;
      list-style: none;
      background: desaturate(darken($tag-color, 40%), 40%);
      border: 1px solid $tag-color;
      border-radius: 3px;
      padding-left: 4px;
      padding-right: 4px;
      width: 55px;
      text-align: center;
      margin-right: 2px;
      font-size: 1.2em;
      color: $tag-color;
      font-weight: bold;

      &::after {
         content: '';
         //font-weight: normal;
         //color: $text-color;
      }
      &:last-child::after {
         content: '';
      }
   }
}

.project-card .description {
   display: block;
   padding-left: $project-padding;
   padding-right: $project-padding;

   transition: transform 1s, opacity 1s, z-index 1s, grid-column-start 1s;
}


.project-card:hover {
   //transform: scale(1.048);
   border: 2px solid $highlight-color;
}

.project-card:hover .project-info{
   top: 60%;
}

.project-card::after {
   background: transparent;
}

.tooltip {
   position: relative;
   display: inline-block;
   //overflow: visible;
   :hover {

   }
}

.tooltip:hover .tooltiptext {
   visibility: visible;
}

.tooltiptext {
   visibility: hidden;
   width: 150px;
   font-size: 0.8em;
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 10px;
   padding-right: 10px;
   background: desaturate(darken($tag-color, 40%), 40%);
   border: 1px solid $tag-color;
   border-radius: 3px;
   top: 115%;
   left: 0;
   text-align: center;
   z-index: 10;
   opacity: 1;


   position: absolute;
}
