.app {
   display: grid;
   grid-template-columns: 100%;
   grid-template-rows: 500px 60px 200px;
   grid-template-areas:
      "main"
      "control"
      "select";
   background-color: darken($base-color, 2%);
   background-image: url("/assets/black-linen.png");

   // Firefox
   scrollbar-color: $navbar-light darken($navbar-light, 10%);

   // Everyone else
   ::-webkit-scrollbar {
      background: darken($navbar-light, 10%);
   }

   ::-webkit-scrollbar-corner {
      background: darken($navbar-light, 10%);
   }

   ::-webkit-scrollbar-thumb {
      background: $navbar-light;
   }
}

#buffer {
   background-color: rgba(#844, 0.0);
}

.sequence-view {
   grid-area: main;
   //height: 100%;
   width: 100%;
   //background-image: url("/projects/sequence-viewer/rebecca/01.png");
   background-color: rgba(#999, 0);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;

   //transition: opacity 1s;
}

.characters {
   grid-area: select;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   grid-auto-rows: 200px;
   justify-content: center;

   overflow-y: scroll;
}

.character-wrapper {
   min-height: min-content;
   display: grid;
   grid-template-columns: repeat(auto-fit, 100px);
}

.character {
   background-color: #400;
   border: 1px solid black;
   img {
      max-height: 100%;
   }
}

.fullscreen {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1;

   grid-template-columns: minmax(180px, 400px) 50vw minmax(200px, 50vw);
   grid-template-rows: calc(100vh - 4rem) 4rem;
   grid-template-areas:
      "select main info"
      "control control control";

   .character-wrapper {
      flex-direction: column;

   }

   .card-small {
      //height: 200px;
   }

   @media screen and (max-width: 1000px) {
      grid-template-columns: 200px 1fr;
      grid-template-rows: calc(100vh - 4rem) 4rem;
      grid-template-areas:
         "select main"
         "control control";
   }

   @media screen and (max-width: 500px) {
      grid-template-columns: 1fr;
      grid-template-rows: calc(100vh - 4rem - 150px) 4rem 150px;
      grid-template-areas:
         "main"
         "control"
         "select";
   }
}

.control-panel {
   grid-area: control;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;

   background-color: #800;
}

.svg-2 {
   display: block;
   height: 1em;
   margin: auto;
   /*https://codepen.io/sosuke/pen/Pjoqqp*/
   filter: invert(24%) sepia(36%) saturate(3264%) hue-rotate(307deg) brightness(89%) contrast(84%);
}
