---
title: Apps and Games - Blushing Defeat
permalink: /play/
layout: page
description: "Play erotic games and browse apps with a focus on transformation, bimbofication and breast expansion. This site is NSFW."
---

{% assign sortedposts = site.projects | sort: "title" %}

<div class="all-projects">
   <div class="project-board">
      {% for post in sortedposts %}
      <a class="project-card" href="{{ post.permalink }}" itemscope itemtype="https://schema.org/VideoGame">
         <meta itemprop="applicationCategory" content="Game">
         <meta itemprop="genre" content="Erotic">
         <meta itemprop="operatingSystem" content="Windows, OSX, Linux">

         <div class="thumb-container" style="">
            {% if post.thumb %}
            <img class="thumb" src="{{ post.thumb }}" itemprop="image" alt="{{ post.title }}" />
            <meta itemprop="thumbnailUrl" content="{{ post.thumb }}" />
            {% endif %}
         </div>
         <div class="thumb-fade"> </div>
         <div class="title">
            <h2>{{ post.title }}</h2>
         </div>

         {% include tags %}

         {% assign sorted-tags = post.tags | sort %}
         <meta itemprop="keywords" content="{% for tag in sorted-tags %}{{ tag }}, {% endfor %}" />

         <div class="project-info description" itemprop="description">
            {{ post.description | markdownify }}
         </div>

      </a>
      {% endfor %}
   </div>
</div>