---
layout: front-layout
title: Play Games - Blushing Defeat
permalink: /play/
---

{% assign sortedposts = site.playposts | sort: "title" %}

<div class="main-content double-column">
  <div class="main-column">
    {% for post in sortedposts %}
      {{ post }}
    {% endfor %}
  </div>

  <div class="side-column">
    <section class="post">
      <h3> Content </h3>

      {% for post in sortedposts %}
        <a href="#{{ post.title }}"><p class="content-navigation">{{ post.title }}</br></p></a>
      {% endfor %}

    </section>
  </div>
</div>
