---
title: Apps and Games - Blushing Defeat
permalink: /play/
layout: page
description: "Play erotic games and browse apps with a focus on transformation, bimbofication and breast expansion. This site is NSFW."
---

{% assign alphabeticposts = site.projects | sort: "title" | reverse %}
{% assign sortedposts = alphabeticposts | sort: "prio" | reverse %}

<div class="single">
   <div style="grid-column: 2 / 3;">
      <section class="main post dark-post" style="padding: 1em 2em;">
         <p style="margin: 0;">
           Apps contain sexual content with focus on <b>Bimbofication</b>, including <b>Breast Expansion</b>, <b>Gender Transformation</b> and <b>Mental Transformation</b> and are as such NSFW.
         </p>
      </section>
   </div>
</div>

<div class="all-projects">
   <div class="project-board">
      {% for post in sortedposts %}
      {% include card.html url=post.permalink thumb=post.thumb title=post.title tags=post.tags description=post.description %}
      {% endfor %}
   </div>
</div>
